
.icon {
  background-image: url('../images/sprite.png');
}

.icon-ghost_idle_e {
  background-position: -0px -0px;
  width: 58px;
  height: 77px;
}
.icon-ghost_idle_n {
  background-position: -58px -0px;
  width: 58px;
  height: 77px;
}
.icon-ghost_idle_ne {
  background-position: -116px -0px;
  width: 58px;
  height: 77px;
}
.icon-ghost_idle_nw {
  background-position: -174px -0px;
  width: 58px;
  height: 77px;
}
.icon-ghost_idle_s {
  background-position: -232px -0px;
  width: 58px;
  height: 77px;
}
.icon-ghost_idle_se {
  background-position: -290px -0px;
  width: 58px;
  height: 77px;
}
.icon-ghost_idle_sw {
  background-position: -348px -0px;
  width: 58px;
  height: 77px;
}
.icon-ghost_idle_w {
  background-position: -406px -0px;
  width: 58px;
  height: 77px;
}
